:root {
  /* variable declarations */
  --font-display: var(--ScatteredPapers--font-display, 'Vollkorn', serif);
  --font-mono: var(--ScatteredPapers--font-mono, 'Fira Code', monospace);
  --font-body: var(--ScatteredPapers--font-body, 'Spectral', serif);
  --font-accent: var(--ScatteredPapers--font-accent, 'Spectral SC', serif);

  --color-ink: rgba(0, 0, 0, 0.98);
  --color-ink-light: rgba(0, 0, 0, 0.70);
  --color-link: rgba(0, 0, 0, 0.65);
  --color-link-hover: var(--color-ink);

  /** One Dark colours for syntax highlights */
  --color__one-dark--black: #232c34;
  --color__one-dark--lightblack: #3e4452;
  --color__one-dark--white: #abb2bf;
  --color__one-dark--comment: #5c6370;
  --color__one-dark--function: #61afef;
  --color__one-dark--support: #56b6c2;
  --color__one-dark--entity: #e5c07b;
  --color__one-dark--keyword: #c678dd;
  --color__one-dark--string: #98c379;

  /* TODO: find a better background image */
  --image-table: url('./image/wood.jpg');

  --font-size-title: 1.5rem;
  --font-size-subtitle: 1.3rem;
  --font-size-heading: 1.2rem;
  --font-size-subheading: 1.1rem;
  --font-size-body: 10pt;
  --font-size-note: 0.83rem;

  /** Component settings */
  /* Paper */
  --paper--image: url('./image/paper.png');
  /* Rule */
  --rule--color: var(--color-ink);
  /* Text */
  --text--font: var(--font-body);
  --text--font-mono: var(--font-mono);
  --text--font-heading: var(--font-display);
  --text--font-accent: var(--font-accent);
  /* Link */
  --link--color: var(--color-link);
  --link--color-hover: var(--color-link-hover);

  /* Configure relative sizing */
  font-size: var(--font-size-body);
}

/* TODO:
 *  is dark mode really worth it? good textures are hard to find in dark
 *  might need to at least take a different approach to darkening the scene than just using dark images
 *  -> turned the lights off type effect instead? reading light effect on the papers?
 *
 * Going to disable this for now, I don't like it.
 *
@media (prefers-color-scheme: dark) {
  :root {
    --color-ink: white;
    --color-ink-light: rgba(255, 255, 255, 0.80);
    --color-link: rgba(255, 255, 255, 0.75);
    --color-link-hover: white;

    --image-table: url('./image/dark/back/back@2.png');

    /** Component settings */
    /* Paper *!/
    --paper--image: url('./image/dark/paper.png');
  }
}
*/

@media (min-width: 701px) {
  body { background-attachment: fixed; }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: var(--image-table);
  color: var(--color-ink);
}

#app { overflow: auto; }

h1, h2, h3, h4, h5, h6, p {
  all: unset;
  display: block;
}

li {
  position: relative;
  list-style: none;
}

ul li::before {
  content: '·';
  position: absolute;
  left: -0.5em;
  top: 50%;

  font-size: 1.5em;
  transform: translateY(-50%);
}
